.mainContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 120px 10px 0px 10px;
  background-image: url(/public/icons/headerTop.svg);
  background-repeat: no-repeat;
  background-position: top left;
  .arrow {
    width: 15%;
    height: 15%;
    margin: 5px;
  }
  .detailDhunai {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-image: url(/public/icons/tabla.svg);
    background-repeat: no-repeat;
    background-position: center right;
  }
  .heading {
    color: white;
    font-size: 46px;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 55.2px;
  }
  .title {
    color: #9f9cb4;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-top: 22px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-weight: 500;
    // background: #7357ff;
    border-radius: 100px;
    // border: 1px #7357ff solid;
    margin-top: 70px;
    width: fit-content;
    padding: 12px 32px;
    cursor: pointer;
    background: linear-gradient(
      90deg,
      #925b2f -2.59%,
      #af4633 21.46%,
      #5b2346 100%
    );
  }
  .videoContainer {
    display: flex;
    flex-direction: column;
    width: 65%;
    .videoPart {
      width: 100%;
      position: relative;
      .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 22px;
        background: radial-gradient(
          60.21% 49.64% at 84.52% 14.71%,
          #121212 0%,
          rgba(33.59, 33.59, 33.59, 0.97) 100%
        );
        border-radius: 24px;
        border: 1.29px rgba(71.32, 71.32, 71.32, 0.6) solid;
        position: absolute;
        margin: 12px;
        width: 97%;
        bottom: 0;
        cursor: pointer;
        .volume {
          padding: 16px;
          border-radius: 100px;
          border: 1.29px rgba(71.32, 71.32, 71.32, 0.6) solid;
        }
      }
    }

    .videoSelection {
      display: flex;
      gap: 12px;
      align-items: center;
      padding: 24px;
      // background: rgba(0, 0, 0, 1);
      border-radius: 24px;
      border: 1.29px rgba(71.32, 71.32, 71.32, 0.6) solid;
      margin-top: 16px;
      overflow-x: scroll;
      background: radial-gradient(
        60.21% 49.64% at 84.52% 14.71%,
        rgba(17.61, 17.61, 17.61, 0.9) 0%,
        rgba(33.59, 33.59, 33.59, 0.87) 100%
      );
    }
    .contentButton {
      color: white;
      font-size: 14px;
      font-weight: 400;
      color: white;
      padding: 12px 16px;
      border-radius: 8px;
      border: 1px #7e7e7e solid;
      width: fit-content;
      cursor: pointer;
      white-space: nowrap;
    }
    .active {
      background: linear-gradient(
        94deg,
        #fff06b 0%,
        rgba(225, 161.4, 66, 0.65) 100%
      );
      color: white;
      font-size: 14px;
      font-weight: 400;
      color: white;
      padding: 12px 16px;
      border-radius: 8px;
      border: 1px #7e7e7e solid;
      width: fit-content;
      cursor: pointer;
      white-space: nowrap;
    }
  }
}
img,
video {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}
.active {
  background: linear-gradient(
    94deg,
    #fff06b 0%,
    rgba(225, 161.4, 66, 0.65) 100%
  );
}
.promptText {
  font-weight: 700;
}

.visualitation {
  width: 100%;
}

.videoSelection {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.videoSelection::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
