.uploadContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  padding: 32px;
  background-color: #000;
  .uploadTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 28px;
    padding: 20px;
    height: 60px;

    .videoFileName {
      color: #aaaaaa;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.3px;
    }
    .replace {
      color: #dedede;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.3px;
      cursor: pointer;
    }
    .videoUpload {
      cursor: pointer;
      opacity: 0;
      position: absolute;
      height: 4vh;
      width: 135px;
    }
  }
}

.socialBehaviour {
  padding: 16px 40px;
  background: #161616;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}
.comment {
  color: #c2c2c2;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  cursor: pointer;
}
.container{
  display: flex;
  flex-direction: row;
}
.videoContainer{
  width: 80vw;
}
.allcomposition{
  display: flex;
  flex-direction: column;
}
.compositionContainer{
  margin-top: 86px;
  margin-left: 40px;
  width: 20vw;
  gap:6px;
  display: flex;
  flex-direction: column;
}
.composition{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 304px;
  border-radius: 4px;
  background-color: #000;
  color: #C2C2C2;
}
.playButton{
  width: 32px;
  height: 32px;
  padding-left: 10px;
}
.playButtonContainer{
  display: flex;
  flex-direction: row;
  gap:8px;
}
.compositionText{
  margin-top: 4px;
}
