.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 99vw;
  position: relative;
  color: #fff;
  justify-content: space-between;
  margin-top: 40px;
  @media screen and (max-width: 600px) {
    margin-top: 16px;
  }
}
.dhuntext {
  margin-left: 14px;
  font-size: 18px;
  font-weight: 500;
  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}
.dhunImg {
  @media screen and (max-width: 600px) {
    width: 34px;
    height: 34px;
  }
}
.dhunContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  @media screen and (max-width: 600px) {
    margin-left: 19px;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
}
.normalMenu {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  align-items: center;
  gap: 3vw;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.mobileMenu {
  @media screen and (min-width: 600px) {
    display: none;
  }
}
.menuItems {
  font-size: 14px;
  cursor: pointer;
}
.login {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #48d67e;
}
