.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 99vw;
  position: relative;
  color: #fff;
  justify-content: space-between;
  margin-top: 40px;
  @media screen and (max-width: 600px) {
    margin-top: 16px;
  }
}
.dhuntext {
  margin-left: 14px;
  font-size: 18px;
  font-weight: 500;
  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}
.dhunImg {
  @media screen and (max-width: 600px) {
    width: 34px;
    height: 34px;
  }
}
.dhunContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40px;
  @media screen and (max-width: 600px) {
    margin-left: 19px;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  margin-right: 22px;
}
.normalMenu {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  align-items: center;
  gap: 3vw;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.mobileMenu {
  font-size: 20px;
  padding: 8px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  @media screen and (min-width: 600px) {
    display: none;
  }
}
.menuItems {
  font-size: 14px;
  cursor: pointer;
}
.login {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #48d67e;
}

.sidebar {
  padding: 16px;
}

// .toggleButton {
//   font-size: 20px;
//   margin: 10px 0;
//   background: none;
//   border: none;
//   color: #fff;
//   cursor: pointer;
// }

.sidebarContent {
  color: white;
  font-size: 28px;
  font-weight: 500;
  line-height: 33.6px;
}
// .sidenav {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 1;
//   top: 0;
//   left: 0;
//   background-color: red;
//   overflow-x: hidden;
//   transition: 0.5s;
//   padding-top: 60px;
// }
.mobileSideMenu {
  height: 100vh;
  background: black;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0px;
}

.mobileHeader {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
  padding: 10px; /* Adjust padding as needed */
  color: #fff;
  justify-content: space-between;
}

.mobileHeader .closeIcon {
  margin-left: auto;
}

.mobileHeader .iconContainer {
  margin-right: 10px; /* Adjust margin as needed */
}

.dhunContainer {
  display: flex;
  align-items: center;
}
