.dhunai {
  background-color: #000;
  font-family: "Quicksand";
  font-weight: 400;
  .topHeader {
    position: absolute;
    z-index: 200;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  }
}
.popup {
  display: flex;
  justify-content: center;
}
