.playPause {
  width: 114px;
  height: 114px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}
.video {
  position: relative;
}
