.headerContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 8px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    background: #2E3033;
    padding: 12px 40px;
  
    .HeaderTitleContainer {
      display: flex;
      gap: 12px;
    }
    .HeaderIcon {
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #E5DEFF;
      color: #5743DB
    }
  }