.video-js{
    width: 100%;
    min-height: 500px;
}
.videoControls {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px;
}
.playPause {
    cursor: pointer;
    width: 32px;
}

.volumeControl {
    cursor: pointer;
}
