.waveformContainer {
    color: #FFF; 
  }
  .custom-timeline {
    position: relative;
    width: 100%;
    margin: 20px 0;
  }
  
  .timeline {
    position: relative;
    height: 20px;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .time-indicator {
    position: absolute;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: #ff0000;
    pointer-events: none; /* Ensure that the indicator doesn't interfere with clicks on the timeline */
  }