.featureContainer {
  padding: 0px 24px;
  background-repeat: no-repeat;
  background-position: top right;
}
.arrow {
  width: 32px;
  height: 32px;
  margin: 10px 8px;
}
.exportbtn {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-top: 24px;
  border-radius: 8px;
  border: 1px solid #fff;
  color: white;
}
.featureContainerHead {
  display: flex;
  flex-direction: row;
  margin: 180px 0px;
  @media screen and (max-width: 900px) {
    margin: 100px 0px;
    display: flex;
    flex-direction: row;
    // margin: 100px;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
  }
}
.featureContainerdiv {
  width: 186px;
  height: 186px;
  background-color: #48d67f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featureContainerImg {
  width: 102px;
  height: 102px;
}
.featureContainerText {
  color: white;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  margin-top: 32px;
  line-height: 48px;
}
.featureContainerAboutText {
  color: #ccc;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  width: 85%;
  margin-top: 16px;
}
.featureContainerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exploreText {
  color: white;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
.exportbtn:hover {
  background: #48d67e;
  color: black;
  border: none;
}
.prompt {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-top: 64px;
  // padding-bottom: 100px;
  flex-direction: column;

  .promptMainContainer {
    padding: 32px;
    width: 100%;
    border-radius: 8px;
    border: 2px solid #4a4a4a;
    .promptTopContainer {
      gap: 16px;
      align-items: center;
    }
    .promptDetails {
      .promptHeader {
        color: white;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
      }
      .propmtTitle {
        color: #9f9cb4;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  .promptVideo {
    width: 100%;
    height: 55vh;
    padding-top: 16px;
    display: flex;
  }
  .break {
    border: 1px rgba(71.32, 71.32, 71.32, 0.6) solid;
    margin: 16px 0px;
  }
  .tryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding: 12px 30px;
    background: #fff;
    border-radius: 100px;
    cursor: pointer;
  }
  .comingSoon {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .promptBottom {
    display: flex;
    margin-top: 24px;
    flex-wrap: wrap;
    .span {
      color: #fff;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
    }
  }
  .promptAbout {
    margin-top: 16px;
    .spanAbout {
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
  .row,
  .column {
    flex-direction: row;
    display: flex;
    gap: 32px;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }
}
