.mainDashboard {
  display: flex;
  gap: 16px;
  .resultDashboard {
    width: 100%;
    // height: 67vh;
  }
  .generateMusic {
    width: 30%;
    margin-top: 6px;
  }
}
.resultControl {
  width: 100%;
  height: 22vh;
  background: #202020;
}

.dashBoardContainer {
  width: 100%;
  height: calc(100vh - 72px);
  // padding: 4px 20px;
}
