.mainDashboard {
    display: flex;
    gap: 16px;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 21, 21, 1);
    padding: 4px 40px;
    .resultDashboard{
        width: 70%;
    }
    .generateMusic {
        width: 30%;
        margin-top: 6px;
    }
}