.allcomposition {
  display: flex;
  flex-direction: column;
}
.compositionContainer {
  margin-left: 30px;
  width: 15vw;
  gap: 6px;
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: relative;
}
.composition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px;
  letter-spacing: 0.3px;
  color: #c2c2c2;
}
.playButton {
  cursor: pointer;
}
.playButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
