.webDialog {
  position: fixed;
  top: 50%;
  font-family: Work Sans;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.generatePopup {
  position: absolute;
  width: 500px;
  border-radius: 20px;
  z-index: 999;
  .topCard {
    width: 500px;
    height: 300px;
    background: #8b8b8b;
    border-radius: 20px 20px 0px 0px;
  }
  .chipWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    background: #000;
    padding: 24px;
  }
  .chip {
    color: #9f9cb4;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    background: #0f0f0f;
    padding: 24px;
    border: 1px rgba(71.32, 71.32, 71.32, 0.69) solid;
    border-radius: 42px;
    border: 1px solid #9f9cb4;
    box-shadow: 0px 0px 4px 0px #655ab4;
    &:focus {
      outline: none;
    }
  }

  .chipBtn {
    color: #9f9cb4;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    background: #0f0f0f;
    padding: 16px 24px;
    border: 1px rgba(71.32, 71.32, 71.32, 0.69) solid;
    border-radius: 42px;
    border: 1px solid #9f9cb4;
    text-align: left;
    &:focus {
      outline: none;
    }
  }
  .overlayBtn {
    color: #9f9cb4;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    background: #0f0f0f;
    padding: 16px 24px;
    border: 1px rgba(71.32, 71.32, 71.32, 0.69) solid;
    border-radius: 42px;
    border: 1px solid #9f9cb4;
    text-align: left;
    opacity: 0.2;
    pointer-events: none;
    &:focus {
      outline: none;
    }
  }
  .loadingBtn {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 8px;
    border-radius: 42px;
    background: linear-gradient(
      90deg,
      rgba(71, 71, 71, 0.42) 1.34%,
      rgba(71, 71, 71, 0.17) 98.34%
    );
    &:focus {
      outline: none;
    }
  }
  .chibBtnActive {
    color: #535165;
    font-size: 16px;
    width: 100%;
    font-weight: 400;
    background: #101d28;
    padding: 16px 24px;
    border: 1px rgba(71, 71, 71, 0.69) solid;
    border-radius: 42px;
    /* border: 1px solid #9f9cb4; */
    text-align: left;
    border: none;
  }

  .createButton {
    padding: 16px 24px;
    background: #fff;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #000;
    cursor: pointer;
  }
  .loadingChip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 16px 24px;
    background: #000;
    .chip1 {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      padding: 16px 24px;
      border: 1px rgba(71.32, 71.32, 71.32, 0.69) solid;
      border-radius: 42px;
      background: linear-gradient(
        90deg,
        #e48b84 0%,
        #f84e46 42%,
        #d6798c 73%,
        #6930f6 100%
      );
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      display: flex;
      gap: 16px;
    }
    .chip2 {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      padding: 16px 24px;
      border: 1px rgba(71.32, 71.32, 71.32, 0.69) solid;
      border-radius: 42px;
      background: linear-gradient(
        90deg,
        #8ad6f0 0%,
        #d459c6 42%,
        #91a6e4 73%,
        #7279df 100%
      );
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      display: flex;
      gap: 16px;
    }
    .chip3 {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      padding: 16px 24px;
      border: 1px rgba(71.32, 71.32, 71.32, 0.69) solid;
      border-radius: 42px;
      background: linear-gradient(
        90deg,
        #f5b242 0%,
        #de5442 42%,
        #fac843 73%,
        #ef6716 100%
      );
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      display: flex;
      gap: 16px;
    }
  }
}
